name: Lint
on:
  # Enable manually triggering this workflow via the API or web UI
  workflow_dispatch:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  checks:
    uses: grafana/k6-ci/.github/workflows/all.yml@main
